<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba Ansible</title> 
</head>

<body>
   <h1>Gathering Facts</h1>
  <p>Esta máquina se llama: {{ ansible_hostname }}</p>
  <p>SO: {{ansible_distribution}} {{ansible_distribution_release}} </p>
  <h1>Variables declaradas por el usuario</h1>
  <p>Red privada: {{red_privada}}</p>
  <p>Red Nat: {{red_nat}}
  <p>Esta es una página de prueba para la práctica  "Protocolo DHCP" de la Unidad 2.</p>
  <p>Arantxa Fernández Morató</p>
</body>
</html>
