- name: "Asegurar que apache2 est치 instalado"
  apt:
    pkg: apache2

- name: Copiar web est치tica
  template:
    src: index.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: 0644

- name: "Copiar fichero de configuraci칩n y reiniciar el servicio"
  copy:
    src: etc/apache2/ports.conf
    dest: /etc/apache2/ports.conf
    owner: root
    group: root
    mode: '0644'
  notify: Reiniciar apache2

- name: "Asegurar que Apache2 est치 activo y fucionando"
  service:
    name: apache2
    state: started
    enabled: yes
